<section class="interests">
    <h1>Welke items vind je interessant?</h1>
    <ul>
        <li>
            <label>
                <input type="checkbox" name="interest" value="Technologie">
                Technologie
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="interest" value="Wetenschap">
                Wetenschap
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="interest" value="Natuur">
                Natuur
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="interest" value="Onderwijs">
                Onderwijs
            </label>
        </li>
    </ul>

    <input type="button" id="getInterests" value="Get Values" />
</section>
