<section id="interests">
    <h1>Welke items vind je interessant?</h1>
    <ul>
        <li class="checkboxWrapper">
            <label>
                <input class="checkbox" type="checkbox" name="interest" value="Technologie">
                Technologie
            </label>
        </li>
        <li class="checkboxWrapper">
            <label>
                <input class="checkbox" type="checkbox" name="interest" value="Wetenschap">
                Wetenschap
            </label>
        </li>
        <li class="checkboxWrapper">
            <label>
                <input class="checkbox" type="checkbox" name="interest" value="Sport">
                Sport
            </label>
        </li>
        <li class="checkboxWrapper">
            <label>
                <input class="checkbox" type="checkbox" name="interest" value="Onderwijs">
                Onderwijs
            </label>
        </li>
    </ul>

    <input type="button" id="getInterests" value="Bevestig" />
</section>
