    <% storydata.science.forEach(function (story) {%>
        <article class="science-story">
            <h1><%= story.storyTitle %></h1>
            <p><%= story.storyIntro %></p>
        </article>
    <% }); %>
