    <% storydata.technology.forEach(function (story) {%>
        <article class="technology-story">
            <h1><%= story.storyTitle %></h1>
            <p><%= story.storyIntro %></p>
        </article>
    <% }); %>
