    <% storydata.technology.forEach(function (story) {%>
        <div class="technology-story hide">
            <h1><%= story.storyTitle %></h1>
            <p><strong><%= story.storyIntro %></strong></p>
        </div>
    <% }); %>
