<section id="interests">
    <h1>Nieuws op maat</h1>
    <p>Iedereen is druk tegenwoordig en als je even snel wilt kijken of er iets interessants in het nieuws is gebeurd moet je eerst door al die verhalen heen spitten. Kies hieronder onderwerpen die jij interessant vindt en verspil geen tijd meer.</p>
    <ul>
        <li class="checkboxWrapper">
            <input class="checkbox" id="technology" type="checkbox" name="interest" value="Technologie" autocomplete="off">
            <label for="technology">Technologie</label>
        </li>
        <li class="checkboxWrapper">
            <input class="checkbox" id="science" type="checkbox" name="interest" value="Wetenschap" autocomplete="off">
            <label for="science">Wetenschap</label>
        </li>
        <li class="checkboxWrapper">
            <input class="checkbox" id="sport" type="checkbox" name="interest" value="Sport" autocomplete="off">
            <label for="sport">Sport</label>
        </li>
        <li class="checkboxWrapper">
            <input class="checkbox" id="education" type="checkbox" name="interest" value="Onderwijs" autocomplete="off">
            <label for="education">Onderwijs</label>
        </li>
    </ul>
</section>
