    <div class="top">
        <a href="/" class="image-wrapper">
            <img src="/img/persgroep.png" title="Logo Persgroep" alt="Logo Persgroep">
        </a>

        <nav>
            <ul>
                <li><a href="#" alt="#">Opgeslagen artikelen</a></li>
            </ul>
        </nav>
    </div>
