<% include partials/global/header %>

    <% include partials/global/top.ejs %>
    <main id="detail">
        <article>
            <h1><%= article.storyTitle %></h1>
            <i class="fa fa-mobile" aria-hidden="true"><input type="checkbox" name="like"></i><span>Technologie</span>
            <i class="fa fa-pencil" aria-hidden="true"></i></i><span><%= article.writer %></span>
            <img src="<%= article.image %>">
            <p><%= article.storyText %></p>
        </article>
    </main>

<% include partials/global/footer.ejs %>
