<% include partials/header %>

    <% include partials/top.ejs %>

    <article class="technology-story">
        <h1><%= storydata.technology[0].storyTitle %></h1>
        <i class="fa fa-mobile" aria-hidden="true"></i><span>Technologie</span>
        <i class="fa fa-pencil" aria-hidden="true"></i></i><span><%= storydata.technology[0].writer %></span>
        <img src="img/zelflerende-robot-speelt-eigen-muziek-marimba.jpg">
        <p><%= storydata.technology[0].storyText %></p>
    </article>

<% include partials/footer.ejs %>
