<% include partials/header %>

    <% include partials/top.ejs %>

    <% include partials/interests.ejs %>

    <section class="stories">
        <% include partials/technology.ejs %>
        <% include partials/science.ejs %>
    </section>

<% include partials/footer.ejs %>
