<% include partials/global/header %>

    <% include partials/global/top.ejs %>

    <% include partials/interests/interests.ejs %>

    <section class="stories">
        <% include partials/interests/technology.ejs %>
        <% include partials/interests/science.ejs %>
        <% include partials/interests/sport.ejs %>
        <% include partials/interests/education.ejs %>
    </section>

<% include partials/global/footer.ejs %>
