<% include partials/header %>

    <% include partials/interests.ejs %>

    <% storydata.stories.forEach(function (story) {%>
        <div><%= story.storyTitle %></div>
        <div><%= story.storyImage %></div>
        <div><%= story.storyText %></div>
    <% }); %>

<% include partials/footer.ejs %>
