<% include partials/header %>

    <section class="top">
        <div class="image-wrapper">
            <img src="/img/persgroep.png" title="Logo Persgroep" alt="Logo Persgroep">
        </div>
    </section>

    <% include partials/interests.ejs %>
    <section class="stories">
        <% include partials/technology.ejs %>
        <% include partials/science.ejs %>
    </section>

<% include partials/footer.ejs %>
