* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.8;
  font-size: 18px; }

body {
  width: 55em;
  margin: 0 auto; }

img {
  width: 100%;
  display: block; }

.top {
  padding: 2em 0; }
  .top h1 {
    text-align: center; }
  .top::after {
    content: '';
    display: table;
    clear: both; }

.image-wrapper {
  width: 40%;
  margin: 0 auto; }

.user-window {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#interests ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em; }
  #interests ul li {
    list-style: none;
    border: 1px solid #333;
    text-align: center; }
    #interests ul li input[type='checkbox'] {
      position: absolute;
      top: -99999;
      left: -99999; }
      #interests ul li input[type='checkbox']:checked + label {
        background-color: red; }
  #interests ul a {
    text-decoration: none;
    display: block;
    border: 1px solid #c1c1c1;
    padding: 1em;
    width: 8em;
    text-align: center;
    height: 8em;
    color: #333; }

.hide {
  display: none; }

.stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #c1c1c1;
  width: 100%; }
  .stories > * {
    width: 45%;
    margin: 0;
    padding: 0; }
  .detail .stories {
    border-bottom: none; }
  .stories a {
    display: block;
    text-decoration: none;
    color: inherit; }
  .stories i:first-of-type:hover {
    color: red; }
  .stories img {
    margin-bottom: 0.5em;
    margin-top: 0.2em; }
  .stories i {
    margin-right: 0.2em; }
    .stories i::before {
      content: '';
      font-size: 1em; }
  .stories span {
    font-style: italic;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    display: inline-block; }

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.2em; }

input[type=button] {
  background: none;
  border: 1px solid #ff6900;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer; }
  input[type=button]:hover {
    background: #ff6900;
    color: #fff;
    transition: .5s ease background; }

.checkboxWrapper label {
  padding: 2em 0;
  box-sizing: border-box;
  display: block;
  width: 12em; }

.like {
  position: fixed;
  top: 50%;
  right: 20%;
  font-size: 3em; }
  .like span {
    font-size: 0.6em; }
