* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.8;
  font-size: 18px; }

body {
  width: 55em;
  margin: 0 auto; }

img {
  width: 100%;
  display: block; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.top {
  padding: 2em 0;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 2em; }
  .top::after {
    content: '';
    display: table;
    clear: both; }
  .top .image-wrapper {
    width: 30%;
    float: left; }
  .top nav {
    float: right; }
    .top nav a {
      line-height: 86px;
      border: 1px solid #ff6900;
      padding: 1em 0.5em;
      border-radius: 5px; }
      .top nav a:hover {
        background: #ff6900;
        color: #fff; }

#interests ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em; }
  #interests ul li {
    list-style: none;
    border: 1px solid #333;
    text-align: center; }
    #interests ul li input[type='checkbox'] {
      position: absolute;
      top: -99999px;
      left: -99999px; }
      #interests ul li input[type='checkbox']:checked + label {
        background-color: #ff6900;
        opacity: 0.7;
        color: #fff; }
  #interests ul a {
    text-decoration: none;
    display: block;
    border: 1px solid #c1c1c1;
    padding: 1em;
    width: 8em;
    text-align: center;
    height: 8em;
    color: #333; }

i {
  margin-right: 0.4em; }

.stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  padding-bottom: 1em;
  width: 100%; }
  .stories a {
    text-decoration: none;
    color: inherit;
    width: 45%; }
  .stories i:first-of-type:hover {
    color: red; }
  .stories img {
    margin-bottom: 0.5em;
    margin-top: 0.2em; }
  .stories i::before {
    font-size: 1em;
    display: inline-block;
    width: 20px;
    height: 20px; }
  .stories span {
    font-style: italic;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    display: inline-block; }

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.2em; }

input[type=button] {
  background: none;
  border: 1px solid #ff6900;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer; }
  input[type=button]:hover {
    background: #ff6900;
    color: #fff;
    transition: .5s ease background; }

.checkboxWrapper label {
  padding: 2em 0;
  box-sizing: border-box;
  display: block;
  width: 12em; }

.iconWrapper {
  margin-bottom: 1em; }
  .iconWrapper .icon {
    display: inline-block;
    margin-right: 1em; }
  .iconWrapper .icon:last-child {
    margin-right: 0; }

.hide {
  display: none; }

.show {
  display: block; }

.detail {
  width: 40em;
  margin: 0 auto 2em auto; }
  .detail article img {
    margin-bottom: 1em; }
  .detail article blockquote {
    background: #e8e8e8;
    border-left: 10px solid #ff6200;
    margin: 1.5em 10px;
    padding: 0.5em 10px; }
  .detail article p {
    margin-bottom: 1em; }
  .detail article .cta {
    background: #1b1b1b;
    color: #fff;
    padding: 2em; }
    .detail article .cta div {
      display: inline-block;
      font-size: 1.1em;
      line-height: 43px; }
    .detail article .cta input {
      float: right;
      color: #fff; }
