* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:focus {
    border: 1px solid #ff6900;
    outline: none; }

html {
  height: 100%; }

html, body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.8;
  font-size: 18px; }

.contentWrapper {
  width: 55em;
  margin: 0 auto;
  padding: 0 1em; }
  @media (max-width: 65em) {
    .contentWrapper {
      width: 100%; } }

img {
  width: 100%;
  display: block; }

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.2em;
  text-align: center; }
  @media (max-width: 40em) {
    h1 {
      font-size: 1.8em;
      line-height: 1.2em; } }

h2 {
  line-height: 1.6; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

#top {
  padding: 2em 0;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 2em; }
  #top::after {
    content: '';
    display: table;
    clear: both; }
  #top .image-wrapper {
    width: 30%;
    display: block;
    margin: 0 auto; }
    @media (max-width: 40em) {
      #top .image-wrapper {
        width: 60%; } }
    @media (max-width: 30em) {
      #top .image-wrapper {
        width: 80%; } }
    @media (max-width: 20em) {
      #top .image-wrapper {
        width: 100%; } }

#interests ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 0.5em; }
  @media (max-width: 55em) {
    #interests ul {
      justify-content: center; } }
  @media (max-width: 30em) {
    #interests ul {
      flex-direction: column;
      padding: 0; } }
  #interests ul li {
    list-style: none;
    text-align: center;
    margin-top: 1em;
    position: relative; }
    @media (max-width: 50em) {
      #interests ul li:nth-child(odd) {
        margin-right: 1em; } }
    @media (max-width: 38em) {
      #interests ul li:nth-child(odd) {
        margin-right: 0; } }
    #interests ul li label {
      padding: 2em 0;
      box-sizing: border-box;
      display: block;
      width: 12em;
      border: 1px solid #333;
      cursor: pointer; }
      @media (max-width: 62em) {
        #interests ul li label {
          margin: 0.5em;
          width: 10em; } }
      @media (max-width: 55em) {
        #interests ul li label {
          width: 15em; } }
      @media (max-width: 42em) {
        #interests ul li label {
          margin: 0; } }
      @media (max-width: 30em) {
        #interests ul li label {
          width: 100%; } }
    #interests ul li input[type='checkbox'] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
      #interests ul li input[type='checkbox']:checked + label {
        color: #fff;
        opacity: 0.7;
        background-color: #ff6900; }
      #interests ul li input[type='checkbox']:hover + label {
        border: 1px solid #ff6900;
        box-shadow: 0 6px 14px -3px gray; }
  #interests ul a {
    text-decoration: none;
    display: block;
    border: 1px solid #c1c1c1;
    padding: 1em;
    width: 8em;
    text-align: center;
    height: 8em;
    color: #333; }

i {
  margin-right: 0.4em; }

.stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  padding-bottom: 1em;
  width: 100%; }
  @media (max-width: 35em) {
    .stories {
      flex-direction: column;
      width: 100%; } }
  .stories a {
    text-decoration: none;
    color: inherit;
    width: 48%;
    margin-bottom: 1em; }
    @media (max-width: 35em) {
      .stories a {
        width: 100%; } }
  .stories i:first-of-type:hover {
    color: red; }
  .stories img {
    margin-bottom: 0.5em;
    margin-top: 0.2em; }
  .stories i::before {
    font-size: 1em;
    display: inline-block; }
  .stories span {
    font-style: italic;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    display: inline-block; }

input[type=button] {
  background: none;
  border: 1px solid #ff6900;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer; }
  input[type=button]:hover {
    background: #ff6900;
    color: #fff;
    transition: .5s ease background; }

.iconWrapper {
  margin-bottom: 1em; }
  .iconWrapper .icon {
    display: inline-block;
    margin-right: 1em; }
  .iconWrapper .icon:last-child {
    margin-right: 0; }

.hide {
  display: none; }

.changeColor {
  color: #f00;
  -webkit-transition-duration: 0.3s;
  /* Safari */
  transition-duration: 0.3s; }

.show {
  display: block; }

.detail {
  margin: 0 auto 2em auto;
  width: 40em; }
  @media (max-width: 65em) {
    .detail {
      width: 100%; } }
  .detail article img {
    margin-bottom: 1em; }
  .detail article blockquote {
    background: #e8e8e8;
    border-left: 10px solid #ff6200;
    margin: 1.5em 10px;
    padding: 0.5em 10px; }
  .detail article p {
    margin-bottom: 1em; }
  .detail article .cta {
    background: #1b1b1b;
    color: #fff;
    padding: 1.3em;
    margin-bottom: 1em; }
    @media (max-width: 40em) {
      .detail article .cta {
        width: 100%;
        text-align: center; } }
    .detail article .cta > h3 {
      display: inline-block;
      font-size: 1.1em;
      line-height: 43px; }
      @media (max-width: 40em) {
        .detail article .cta > h3 {
          line-height: 1.2em;
          margin-bottom: 1em; } }
    .detail article .cta .likeWrapper {
      float: right; }
      @media (max-width: 40em) {
        .detail article .cta .likeWrapper {
          float: none; } }
      .detail article .cta .likeWrapper input {
        float: left;
        color: #fff; }
        @media (max-width: 40em) {
          .detail article .cta .likeWrapper input {
            float: none; } }
        .detail article .cta .likeWrapper input:focus {
          background: #ff6900;
          outline: none;
          transform-origin: top; }
    .detail article .cta .likeArticle {
      margin-right: 1em; }
  .detail article .cta-like input {
    width: 7em; }

.suggested {
  width: 45%;
  float: left;
  display: block;
  margin: 0 5% 5% 0; }
  .suggested:nth-of-type(even) {
    margin-right: 0; }

.backToHome {
  border: 1px solid #333;
  border-radius: 3px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0.5em;
  width: auto; }
  @media (max-width: 41em) {
    .backToHome {
      position: static;
      top: auto;
      left: auto;
      display: inline-block;
      margin-bottom: 2em; } }
  .backToHome:hover {
    background: #ff6900;
    color: #fff; }

.comments {
  overflow-y: hidden; }

.comments input {
  border: 1px solid #a3a3a3;
  padding: 2.5em;
  width: 100%; }

.comments input[type="submit"] {
  padding: 1em;
  border: 1px solid #000;
  background: #fff;
  margin: 20px 0;
  width: 20%; }
  @media (max-width: 30em) {
    .comments input[type="submit"] {
      width: 100%; } }
  .comments input[type="submit"]:hover {
    background: #333;
    color: #fff; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto; }

#messages li {
  padding: 1em 2em;
  background: #e8e8e8;
  margin-bottom: 1em;
  color: #333; }

.error {
  border: 1px solid red !important; }
