* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.8;
  font-size: 18px;
}

body {
  width: 40em;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.top {
  padding: 2em 0;

  h1 {
    text-align: center;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.image-wrapper {
  width: 40%;
  margin: 0 auto;
}

.user-window {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#interests {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;

    li {
      list-style: none;
      border: 1px solid #333;
      text-align: center;

      input[type='checkbox'] {
        position: absolute;
        top: -99999;
        left: -99999;
      }
    }

    a {
      text-decoration: none;
      display: block;
      border: 1px solid #c1c1c1;
      padding: 1em;
      width: 8em;
      text-align: center;
      height: 8em;
      color: #333;
    }
  }
}

.hide {
  display: none;
}

article {
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #c1c1c1;

  @at-root .detail & {
    border-bottom: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  img {
    margin-bottom: 0.5em;
    margin-top: 0.2em;
  }

  i {
    margin-right: 0.2em;

    &::before {
      content: '';
      font-size: 1em;
    }
  }

  span {
    font-style: italic;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    display: inline-block;
  }
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.2em;
}

input[type=button] {
  background: none;
  border: 1px solid #ff6900;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;

  &:hover {
    background: #ff6900;
    color: #fff;
    transition: .5s ease background;
  }
}

.checkboxWrapper {
  label {
    padding: 2em 0;
    box-sizing: border-box;
    display: block;
    width: 9em;
  }
}
